.dropdown {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.dropdown__lable {
  margin-right: 0.3rem;
  color: rgb(78, 78, 78);
  font-size: 1.5rem;
}

.dropdown__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-height: 2rem;
  width: 10rem;
}

.dropdown__container {
  border: 1px solid black;
  border-radius: 0.2rem;
  min-width: 10rem;
  height: 2rem;
  color: #c4c4c4;
  line-height: 2rem;
  padding-left: 0.2rem;
}

.container__title {
  display: inline-block;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container__arrow {
  float: right;
  padding: 0 0.2rem;
}

.container__arrow--rotated {
  float: right;
  transform: rotate(180deg);
  padding: 0 0.2rem;
}

.dropdown__list {
  padding: 0;
  margin: 0;
  width: inherit;
  margin-top: 0.4rem;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.08), 0 6px 20px 0 rgb(0, 0, 0, 0.08);
  border-radius: 0.5rem;
  background-color: white;
  overflow: auto;
  max-height: 10rem;
}

.list__item {
  padding: 0.5rem;
}

/* Scrollbar */

.dropdown__list::-webkit-scrollbar {
  width: 0.6rem;
}

.dropdown__list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.dropdown__list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

.dropdown__list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 970px) {
  .dropdown {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .dropdown {
    flex-direction: column;
    align-items: flex-start;
  }
}
