.header {
  height: 10%;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 1rem;
  height: 3rem;
}

.header__title {
  display: none;
  font-size: 2rem;
  color: #4c4c4c;
}

.header__dropdowns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

@media only screen and (max-width: 970px) {
  .header {
    flex-direction: column;
    height: max-content;
  }

  .header__title {
    display: block;
  }

  .header__dropdowns {
    justify-content: space-around;
  }
}
