body,
#root,
.App {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
